
// .container{
    
//         display: block;
//     // padding-top: 94px;
//     padding-bottom: 94px;  
  
// }

.difference__center{
    display: flex;
    justify-content: wrap ;
}

.difference{
    
    width: 270px;
    outline: 1 px solid tomato;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
    }



.difference__icon{
     display: flex;
    align-items:center;
  justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    
}

   
.difference__header{
    display: block;
    color:#212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
      }

.difference__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $notrend-kolor;
    }