




.header-contacts {
    display: flex;
     align-items:center; 
    

// color: $notrend-kolor;
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 1.14; 
//     letter-spacing: 0.02em;  
   
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header-cont{
display: flex;
padding-top: 32px;
padding-bottom: 32px;
margin-left: 10px;
margin-right: 30px;

    &__svg{
       
        fill: $notrend-kolor;
        justify-content: center;

        
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link{
        color: $notrend-kolor;
        // padding-top: 32px;
        // padding-bottom: 32px;
        margin-left: 10px;
        margin-right: 30px;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__item:hover &__svg, &__item:focus &__svg{
        fill: $trend-color;
    }

    &__item:hover &__link, &__item:focus &__link{
color:$trend-color
    }
}


.header-cont__item{
    justify-content: center;
    
}