.logo{
    display: inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em; 
         
    }
    
        .logo--ferst{
        color: $trend-color;
    }
    .logo--lest{
        // display: inline-block;
        color: #212121;}
    